@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.greysection {
  background-color: #f7f7f9;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  background-color: #fff;
  height: 50px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  line-height: 20px;
  text-decoration: none;
  padding-left: 2rem;
}

.button {
  margin-right: 2rem;
}

.firstlist {
  display: none;
}

#main-section {
  background-color: #fff;
  border-bottom-left-radius: 100px;
}

.about {
  height: 625px;
  background-image: url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  padding-top: 5rem;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

.about h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 1.5rem 0 0 1.5rem;
  margin-top: 4.3rem;
  margin-bottom: 0.7rem;
}

.about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex-wrap: wrap;
  padding: 0 3rem 0.3rem 1.5rem;
  margin-bottom: 0.3rem;
}

li a {
  margin: 0;
  padding: 0 !important;
}

.about a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  padding: 0.5rem 1.5rem 0.8rem 1.5rem;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: wrap;
  margin: 1rem 4rem 13rem 1.4rem;
  gap: 1rem;
}

/* WORK SECTION */
.work-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 7.125rem 1.5rem;
  gap: 5.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  background: #fff;
}

.cardimage img {
  width: 18.438rem;
  height: 13.75rem;
  border-radius: 8px;
}

.workdescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
}

.workdescription h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
  margin-top: 0.75rem;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.workdescription p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 18.44rem;
  height: 4.75rem;
}

.workdescription ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
}

.workdescription ul li {
  display: flex;
  align-items: center;
  background: #ebebff;
  color: #6070ff;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.workdescription ul .one {
  width: 57px;
  height: 24px;
}

.workdescription ul .two {
  width: 3.063rem;
  height: 1.5rem;
}

.workdescription ul .three {
  width: 5.75rem;
  height: 1.5rem;
}

.workdescription button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
  border: 1px solid #6070ff;
  margin-top: 1.25rem;
  color: #396df2;
  border-radius: 0.5rem;
  background: #fff;
  font-weight: 500;
  font-size: 1.063rem;
  width: 7.875rem;
  height: 3rem;
  margin-bottom: 1.375rem;
}

#canopy {
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #344563;
  width: 3.688rem;
  height: 1rem;
}

.workdescription .details .pair {
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
  width: 1.813rem;
}

#wider {
  width: 6.188rem;
}

.details img {
  width: 0.563rem;
  height: 0.563rem;
}

/* About Myself Section */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.98rem;
  flex-wrap: wrap;
}

.top h5 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 20.438rem;
  height: 2.188rem;
  line-height: 3.25rem;
  margin-bottom: 10px;
}

.top p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  width: 20.438rem;
  height: 9.188rem;
}

.top a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  text-decoration: none;
}

.top .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 12.5rem;
  height: 2.5rem;
  list-style: none;
  gap: 1.3rem;
}

.top .resumebutton {
  text-align: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 10.125rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  background: #fff;
  margin-left: -7px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 2.7rem;
}

.skill-list .languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.skillz span {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  gap: 13.08rem;
  list-style: none;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 35px;
}

.frameworkz span {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  gap: 8.5rem;
  list-style: none;
  margin-bottom: 8px;
  margin-top: 23px;
  margin-left: 35px;
}

.skill-list .languages span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 12px;
  color: #000;
}

.techstack {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 33px;
}

.techstack .jS {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 65px;
  color: #253858;
  width: 17rem;
  height: 4.2rem;
  padding: 0.3rem;
}

.techstack .markup {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 65px;
  color: #253858;
  width: 17rem;
  height: 4.2rem;
  padding: 0.3rem;
}

.techstack .styling {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background: #f7f7f9;
  border-radius: 8px;
  height: 4.17rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 65px;
  color: #253858;
  width: 17rem;
  padding: 0.3rem;
}

.frameworkz {
  list-style: none;
}

.skillz {
  list-style: none;
}

.resumebutton:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px;
}

.resumebutton:active {
  color: #fff;
  border-radius: 8px;
  background-color: #2230d2;
}

.seeproject:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px;
}

.seeproject:active {
  color: #fff;
  border-radius: 8px;
  background-color: #2230d2;
}

.twitter:hover {
  color: black;
  opacity: 0.3;
}

.linkedin:hover {
  color: black;
  opacity: 0.3;
}

.medium:hover {
  color: black;
  opacity: 0.3;
}

.github:hover {
  color: black;
  opacity: 0.3;
}

.angellist:hover {
  color: black;
  opacity: 0.3;
}

.footer {
  background-color: #6070ff;
  background-image: url(./images/footer-bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 65px 0 0 0;
  padding: 2rem 1rem;
}

.footercontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.footer-section h6 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.footer-section p {
  font-size: 20px;
  font-weight: 400;
  color: #ebebff;
  text-align: center;
  line-height: 28px;
  width: 327px;
  height: 137px;
}

.input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 1rem;
  width: 25em;
  color: #b3bac5;
}

.form .input {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.footer-button {
  background: #fff;
  border-radius: 8px;
  width: 142px;
  height: 48px;
  text-align: center;
  padding: 12px 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.footer-button:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.footer-button:active {
  color: #fff;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: #789bf2;
}

@media (max-width: 768px) {
  .about {
    height: 625px;
    background-image: url("images/header-shapes mobile.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .unionalt {
    display: none;
  }

  .deskhead {
    display: none;
  }

  /* nonenone */
  .footerhouse-desktop {
    display: none;
  }

  .about-section-desktop {
    display: none;
  }

  .work-section-desktop {
    display: none;
  }

  /* ANIMATIONS SECTION */

  .rotated {
    animation: rotation 50s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(35turn);
    }
  }
}

/* DESKTOP VERSION */

@media (min-width: 768px) {
  body {
    background-color: #f7f7f9;
  }

  .card-desktop1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    border: 1px solid #dfe1e6;
    border-radius: 1rem;
    background: #fff;
    width: 72.25rem;
    margin: 0 auto;
  }

  .card-desktop1:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }

  .card-desktop2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    border-radius: 1rem;
    background: #fff;
    width: 72.25rem;
    margin: 0 auto;
  }

  #about-desktop {
    padding: 25rem;
    height: 38rem;
    width: 95rem;
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scale-in 0.5s ease-out;
    transform-origin: center;
    opacity: 1;
    margin: 0 auto;
  }

  header {
    width: 105rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  header .logo {
    font-weight: 700;
    font-size: 1.125rem;
    color: #6070ff;
    margin-left: 6.68rem;
  }

  header .button {
    display: none;
  }

  header .unionalt {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
    height: 2.5rem;
    list-style: none;
    margin-right: 19rem;
  }

  head .unionalt li {
    font-weight: 500;
    font-size: 0.938rem;
    color: #344563;
  }

  #main-section {
    width: 104.9rem;
    height: 50rem;
    padding: 1rem;
  }

  .bucket {
    margin: 18rem 21.25rem 8rem 9rem;
    width: 52.5rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .bucket .deskhead {
    font-size: 3rem;
    font-weight: 700;
    color: #091e42;
    display: flex;
    align-items: center;
    letter-spacing: 0.35px;
    padding: 0;
    margin-bottom: 1rem;
  }

  .bucket h1 {
    display: none;
  }

  .bucket p {
    font-weight: 400;
    font-size: 1.25rem;
    color: #344563;
    width: 52.5rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .bucket a {
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0.7rem;
  }

  .bucket .socialmedia {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: wrap;
    padding: 0;
    gap: 1rem;
    margin-left: -0.1rem;
  }

  /* WORK SECTION */

  .work-section {
    display: none;
  }

  .work-section-desktop {
    margin: 0 8.875rem 0 8.875rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 7.125rem 1.5rem;
    gap: 5.5rem;
  }

  .cardimage-desktop img {
    width: 34rem;
    height: 28rem;
  }

  .workdescription-desktop {
    width: 34rem;
    height: 27.813rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.3rem;
  }

  .workdescription-desktop h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.19rem;
    color: #091e42;
  }

  .workdescription-desktop .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 1.4rem;
    width: 22rem;
    height: 2.5rem;
  }

  .workdescription-desktop .details #wider {
    width: 9rem;
  }

  .workdescription-desktop .details .pair {
    font-weight: 400;
    font-size: 1.125rem;
    color: #6b778c;
  }

  .footercontainer-desktop p {
    font-weight: 400;
    font-size: 20px;
    color: #ebebff;
    width: 569px;
    height: 102px;
    text-align: center;
  }

  .top-desktop p {
    font-weight: 400;
    font-size: 1rem;
    color: #344563;
    margin-bottom: 1rem;
  }

  .workdescription-desktop .details p {
    font-weight: 400;
    font-size: 1rem;
    color: #344563;
  }

  .workdescription-desktop .tech-desk {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  .workdescription-desktop .tech-desk li {
    display: flex;
    align-items: center;
    background: #ebebff;
    color: #6070ff;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
  }

  .workdescription-desktop .seeprojectdesk {
    background: #fff;
    border: 1px solid #6070ff;
    border-radius: 0.5rem;
    padding: 0.625rem;
    font-weight: 500;
    font-size: 1.063rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .workdescription-desktop .seeprojectdesk:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-shadow: 0 8px 16px;
  }

  .workdescription-desktop .seeprojectdesk:active {
    color: #fff;
    border-radius: 8px;
    background-color: #2230d2;
  }

  /* DESKTOP ABOUT-SECTION */
  .about-section {
    display: none;
  }

  .footer {
    display: none;
  }

  .about-section-desktop {
    display: flex;
    border-top-right-radius: 70px;
    width: 105rem;
    height: 45rem;
    background: #fff;
  }

  .top-desktop {
    display: flex;
    flex-direction: column;
    width: 27.938rem;
    height: 22.2rem;
    margin-top: 8.5rem;
    margin-left: 8.938rem;
    margin-bottom: 27.938rem;
    gap: 0.5rem;
  }

  .top-desktop h5 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #091e42;
  }

  .top-desktop a {
    color: #7f8cff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .top-desktop .socials-desktop {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
  }

  .top-desktop .resumebutton-desktop {
    background: #fff;
    border: 1px solid #6070ff;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-weight: 500;
    font-size: 1.063rem;
    color: #396df2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    width: 10.3rem;
    height: 3rem;
    margin-top: 1.6rem;
  }

  .skill-list-desktop {
    width: 42.75rem;
    height: 22.5rem;
    margin-top: 8rem;
    margin-left: 1.5rem;
  }

  .skill-list-desktop .languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }

  .skill-list-desktop .techstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    gap: 0.75rem;
    width: 24.875rem;
    height: 7rem;
    margin-left: -15px;
  }

  .skill-list-desktop .languages span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 0.5rem;
    padding-top: 2rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    color: #344563;
  }

  .skill-list-desktop .techstack .jS {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    background: #f7f7f9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.938rem;
    color: #253858;
    gap: 0;
    padding: 0.7rem;
  }

  .skill-list-desktop .techstack .jSImage {
    width: 3rem;
    height: 3rem;
  }

  .skill-list-desktop .techstack .markup {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    background: #f7f7f9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.938rem;
    color: #253858;
    gap: 0;
    padding: 0.7rem;
  }

  .skill-list-desktop .techstack .markupImage {
    width: 3rem;
    height: 3rem;
  }

  .skill-list-desktop .techstack .styling {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 7rem;
    background: #f7f7f9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.938rem;
    color: #253858;
    gap: 0;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .skill-list-desktop .techstack .stylingImage {
    width: 3rem;
    height: 3rem;
  }

  .skill-list-desktop .frameworkz {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    padding-bottom: 0.6rem;
    padding-left: 0.7rem;
  }

  .skill-list-desktop .frameworkz span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    gap: 28.5rem;
    list-style: none;
  }

  .skill-list-desktop .skillz {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    padding-bottom: 0.6rem;
    padding-left: 0.5rem;
  }

  .skill-list-desktop .skillz span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    gap: 33rem;
    list-style: none;
  }

  .resumebutton-desktop:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-shadow: 0 8px 16px;
  }

  .resumebutton-desktop:active {
    color: #fff;
    border-radius: 8px;
    background-color: #2230d2;
  }

  /* FOOTER-SECTION DESKTOP */

  .footer-desktop {
    background-color: #6070ff;
    width: 105rem;
    height: 55rem;
    padding: 10rem;
    border-top-left-radius: 100px;
  }

  .footerhouse-desktop {
    width: 91rem;
    height: 42rem;
    background-image: url("images/background(2).svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .footercontainer-desktop h6 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  .footercontainer-desktop .form .input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    height: 48px;
    width: 447px;
  }

  #footerbutton-desktop {
    width: 330px;
    height: 48px;
    display: flex;
    margin-top: 2rem;
  }

  .footer-button-desktop {
    background: #fff;
    border-radius: 8px;
    width: 142px;
    height: 48px;
    text-align: center;
    padding: 12px 16px;
    color: #6070ff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    margin: 0 auto;
  }

  .footer-button-desktop:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .footer-button-desktop:active {
    color: #fff;
    border-radius: 8px;
    border: 1px solid #6070ff;
    background-color: #789bf2;
  }

  /* ANIMATIONS SECTION */

  .rotated {
    animation: rotation 50s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(45turn);
    }
  }
}

.hover:hover {
  background-color: #6070ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

input::placeholder {
  transition: transform 0.2s ease-out;
}

input:hover::placeholder {
  transform: translateX(10px);
}

.card-desktop2:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
